<d-dashboard-cell>
    <h2>Subscriptions</h2>

    <d-chart type="pie">
        <% component_dsd "d-chart" %>
    </d-chart>

    <script>
        document.currentScript.parentNode.addEventListener("request-config", e => {
            const callback = e.detail.callback

             const data = [
                { month: "Q1 2024", millions: 14.85 },
                { month: "Q2 2024", millions: 20.10 },
                { month: "Q3 2024", millions: 33.86 },
            ];

            callback({
                options: {
                    aspectRatio: 1.5,
                },
                data: {
                    labels: data.map(row => row.month),
                    datasets: [
                        {
                            label: "Revenue (Millions)",
                            data: data.map(row => row.millions),
                            backgroundColor: e.target.defaultBarColors,
                            borderColor: e.target.defaultBarBorders,
                            borderWidth: 1
                        }
                    ]
                }
            })
        })
  
    </script>
</d-dashboard-cell>