<d-dashboard-cell>
    <d-cell>
        {% component_dsd "d-cell" %}
        <h2>Subscriptions</h2>
    <d-chart type="pie" style="max-height: 450px">
        {% component_dsd "d-chart" %}
    <script>
        document.currentScript.parentNode.addEventListener("request-config", e => {
            const callback = e.detail.callback
            callback({
                options: {
                    aspectRatio: 2.5,
                },
                data: {
                    labels: ['New', 'Returning', 'Unsubscribed'],
                    datasets: [
                        {
                            label: "Subscriptions",
                            data: ['1000', '500', '250'],
                            backgroundColor: e.target.defaultBarColors,
                            borderColor: e.target.defaultBarBorders,
                            borderWidth: 1
                        }
                    ]
                }
            })
        })
  
    </script>
    </d-chart>
    </d-cell>
   
</d-dashboard-cell>
<d-dashdboard-cell>
    
<d-cell>
    {% component_dsd "d-cell" %}
    <d-tasks>
        {% component_dsd "d-tasks" %}
        <ul role="list">
            <h2>Tasks</h2>
            <d-task-item>
                {%component_dsd "d-task-item"%}
                <li role="listitem">
                    <input type="checkbox" />
                    <p slot="taskitem">Get Marketing Report</p>
                </li>
            </d-task-item>
            <d-task-item>
                {%component_dsd "d-task-item"%}
                <li role="listitem">
                     <input type="checkbox" />
                     <p slot="taskitem">Get Sales Report</p>
                </li>
            </d-task-item>
            <d-task-item>
                {%component_dsd "d-task-item"%}
                <li role="listitem">
                    <input type="checkbox" />
                    <p slot="taskitem">Mobile App Design</p>
                </li>
            </d-task-item>
            <d-task-item>
                {%component_dsd "d-task-item"%}
                <li role="listitem">
                    <input type="checkbox" />
                    <p slot="taskitem">New Website Design</p>
                </li>
            </d-task-item>
            <d-task-item>
                {%component_dsd "d-task-item"%}
                <li role="listitem">
                    <input type="checkbox" />
                    <p slot="taskitem">SEO Marketing</p>
                </li>
            </d-task-item>
        </ul>
    </d-tasks>
</d-cell>
</d-dashdboard-cell>