<template shadowrootmode="open">
  <style>
    :host {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      cursor: pointer;
    }

    :host(:hover) {
      background-color: var(--color-orange-web);
    }

    ::slotted(a) {
      text-decoration: none;
    }

    ::slotted(d-icon) {
      --icon-size: 1.5em;
      margin-top: 0.5em;
    }

    slot {
      display: block;
    }

    slot:not([name]) {
      flex-grow: 1;
    }

    :host([noprefix]) slot[name='prefix'] {
      display: none;
    }

    :host([nosuffix]) slot[name='suffix'] {
      display: none;
    }
  </style>
  <slot name="prefix"></slot>
  <slot></slot>
  <slot name="suffix"></slot>
</template>
<script type="module"></script>
