<template shadowrootmode="open">
  <style>
    :host {
      --spacing-inline: var(--size-4);
      --spacing-gap: var(--size-3);
      --font-size: var(--size-4);

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-gap);
      font-weight: bold;
      width: 100%;
      padding-inline: 1em;
      cursor: pointer;
    }

    slot {
      display: block;
    }

    ::slotted(d-icon) {
      --icon-size: 1.5em;
      margin-top: 0.5em;
    }
    :host(:hover) {
      background: var(--color-orange-web);
    }

    ::slotted(a) {
      color: inherit;
      text-decoration: none;
      padding-block: var(--spacing-gap);
      font-size: var(--font-size);
    }
    slot:not([name]) {
      flex-grow: 1;
    }

    :host([noprefix]) slot[name='prefix'] {
      display: none;
    }

    :host([nosuffix]) slot[name='suffix'] {
      display: none;
    }
  </style>
  <slot name="prefix"></slot>
  <slot></slot>
  <slot name="suffix"></slot>
</template>
<script type="module"></script>
