<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';" /> {% endcomment %}
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <title>CSS Nouveau Dashboard</title>
</head>
<body>
   {% component_dsd "d-grid" %} 
   {% include "./partials/header.liquid" %}
   <main id="content">
    {{ content  }}
   </main>
   {% include "./partials/sidebar.liquid" %}
   {% include "./partials/footer.liquid" %}
    <a slot="skip-to-content" href="#content">
        Skip to content
    </a>
    <script>
        // DSD Polyfill
        ; (function attachShadowRoots(root) {
            root.querySelectorAll("template[shadowrootmode]").forEach(template => {
                if (template.parentNode.shadowRoot) { // already attached somehow…Eleventy dev morph?
                    template.remove()
                } else {
                    const mode = template.getAttribute("shadowrootmode");
                    const shadowRoot = template.parentNode.attachShadow({ mode });
                    shadowRoot.appendChild(template.content);
                    template.remove();
                    attachShadowRoots(shadowRoot);
                }
            });
        })(document);
    </script>
</body>
</html>