:host {
    --main-spacing-desktop: calc(var(--size-7) + var(--size-1));
    --main-spacing-mobile: var(--size-5);
    --interior-spacing-desktop: var(--size-3);
    --interior-spacing-mobile: var(--size-2);
    --min-sidebar-size: var(--size-13);
    --main-radius: var(--radius-4);

    --main-spacing: var(--main-spacing-desktop);
    --interior-spacing: var(--interior-spacing-desktop);

    display: grid;
    grid-template-columns: minmax(var(--min-sidebar-size), 1fr) 4fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "sidebar title"
        "sidebar main"
        "sidebar footer";
    ;

    box-sizing: border-box;

}

slot {
    display: block
}

slot:not([name]) {
    grid-area: main;
    background: var(--body-background);
}

::slotted(main) {
    background: var(--body-background);
    height: 100%;
    padding: var(--main-spacing);
    padding-inline-start: var(--interior-spacing);
}

slot[name="sidebar"] {
    grid-area: sidebar;
    color: var(--sidebar-color);
    background: var(--sidebar-background);
}

slot[name="title"] {
    grid-area: title;
    background: var(--navbar-background);
    color: var(--title-color);
}

::slotted(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

slot[name="footer"] {
    grid-area: footer;
    background: var(--canvas-background);
    padding-inline: calc(var(--interior-spacing) + var(--main-spacing));
}