:host {
    --main-spacing-desktop: calc(var(--size-7) + var(--size-1));
    --main-spacing-mobile: var(--size-5);
    --min-sidebar-size: var(--size-3);
    display: grid;
    grid-template-columns: minmax(var(--min-sidebar-size), 1fr) 4fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "sidebar title"
        "sidebar main"
        "sidebar footer";
    ;

    box-sizing: border-box;

}

slot {
    display: block
}