<header slot="title">
    <div class="left">
      <h1 class="title">{{ title }}</h1>  
    </div>
    <div class="right">
       <search>
        <form action="#">
            <input type="search" id="docs" name="docs">
            <d-icon>
                {% include "svgs/search.svg" %}
            </d-icon>
        </form>
       </search> 
    </div>
</header>