<header slot="title">
    <div class="left">
      <h1 class="title">{{ title }}</h1>  
    </div>
    <search>
        <form action="#">
            <input type="search" id="docs" name="docs">
            {% comment %} <d-icon>
                {% include 'svgs/search.svg' %}
            </d-icon> {% endcomment %}
        </form>
    </search> 
 
</header>